
body, html {
  height: 100%;
  margin: 0;
}
ul.nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: transparent
}
li.left{
	float:left;
}
li.right{
	float:right;
}
li a{
	font-family: 'Potta One', cursive;
	color: white;
	font-style: normal;
	font-size: 30px;
	display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
	text-decoration: underline;
}
.bg {
  /* The image used */
  background-image: url("background.png");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.menu-content{
  display: none;
}
.video {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#pdf {
  width: 80%;
  height: 80%;
  border: none;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.buttomnav {
  position:absolute;
  background-color: transparent;
  width: 700px;
  bottom:40px;
  right:25%;
  left:25%;
  text-align: center;
}
.buttomnav a{
  font-family: 'Satisfy', cursive;
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  display: inline;
  text-align: right;
  padding: 14px 40px;
  text-decoration: none;
}
.buttomnav a:hover {
  text-decoration: underline;
}

#a1, #a2, #a3{
  display: none;
}
